.stat {
  padding: var(--mantine-spacing-xs) 0;
  border-bottom: 3px solid transparent;
}

.statCount {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.diff {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.icon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.progressLabel {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-size: var(--mantine-font-size-sm);
}
